<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlowCheetah.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SlowCheetah.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SlowCheetah.VisualStudio.Properties.Settings>
            <setting name="InstallPath" serializeAs="String">
                <value>Microsoft\MSBuild\SlowCheetah\v1\</value>
            </setting>
            <setting name="TransformAssemblyPath" serializeAs="String">
                <value>SlowCheetah.Tasks.dll</value>
            </setting>
            <setting name="InstallUserFolder" serializeAs="String">
                <value>%LOCALAPPDATA%</value>
            </setting>
            <setting name="TransformXmlTaskName" serializeAs="String">
                <value>SlowCheetah.Tasks.TransformXml</value>
            </setting>
            <setting name="InstallUserFolderMSBuild" serializeAs="String">
                <value>$(LOCALAPPDATA)</value>
            </setting>
            <setting name="TargetsFilename" serializeAs="String">
                <value>SlowCheetah.Transforms.targets</value>
            </setting>
            <setting name="SlowCheetahTargets" serializeAs="String">
                <value>SlowCheetahTargets</value>
            </setting>
            <setting name="ExcludedFileExtensions" serializeAs="String">
                <value>.htm;.html;.cs.vb;.txt;.jpg;.png;.ico;.aspx;.snk;.dll;.pdb</value>
            </setting>
        </SlowCheetah.VisualStudio.Properties.Settings>
        <SlowCheetah.Properties.Settings>
            <setting name="InstallPath" serializeAs="String">
                <value>Microsoft\MSBuild\SlowCheetah\v1\</value>
            </setting>
            <setting name="TransformAssemblyPath" serializeAs="String">
                <value>SlowCheetah.Tasks.dll</value>
            </setting>
            <setting name="InstallUserFolder" serializeAs="String">
                <value>%LOCALAPPDATA%</value>
            </setting>
            <setting name="TransformXmlTaskName" serializeAs="String">
                <value>SlowCheetah.Tasks.TransformXml</value>
            </setting>
            <setting name="InstallUserFolderMSBuild" serializeAs="String">
                <value>$(LOCALAPPDATA)</value>
            </setting>
            <setting name="TargetsFilename" serializeAs="String">
                <value>SlowCheetah.Transforms.targets</value>
            </setting>
            <setting name="SlowCheetahTargets" serializeAs="String">
                <value>SlowCheetahTargets</value>
            </setting>
        </SlowCheetah.Properties.Settings>
    </applicationSettings>
</configuration>