# Folders to ignore #
OutputRoot/
TestResults/
bin/
obj/
_UpgradeReport_Files/
.svn/
Backups/
TestBackup/
csx/

# Known files to ignore always #
*.suo
*.user
~*.docx
msbuild.log
msbuild.*.log
.dbshell
*.private
UpgradeLog*.xml
*.metaproj
*.metaproj.tmp

##############

SlowCheetah.Tasks
