<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="1.0.0-alpha" targetFramework="net40" />
  <package id="NuGet.VisualStudio" version="2.2.0" targetFramework="net40" />
  <package id="SlowCheetah.Xdt" version="1.1.1-beta" targetFramework="net40" />
</packages>