<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlowCheetah.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlowCheetah.VisualStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SlowCheetah.VisualStudio.Properties.Settings>
            <setting name="SlowCheetahNugetPkgName" serializeAs="String">
                <value>SlowCheetah</value>
            </setting>
        </SlowCheetah.VisualStudio.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <SlowCheetah.VisualStudio.Properties.Settings>
            <setting name="ExcludedFileExtensions" serializeAs="String">
                <value>.htm;.html;.cs.vb;.txt;.jpg;.png;.ico;.aspx;.snk;.dll;.pdb;.settings</value>
            </setting>
            <setting name="SlowCheetahTargets" serializeAs="String">
                <value>SlowCheetahTargets</value>
            </setting>
        </SlowCheetah.VisualStudio.Properties.Settings>
    </applicationSettings>
</configuration>